@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';

html {
	font-size: 16px;
}
body {
	width: 100%;
	overflow-x: hidden;
	background-color: $body-bg;
}
.header {
	.nav {
		.nav-gnb {
			.nav-gnb__tab:nth-of-type(5) {
				font-weight: bold;
			}
		}
	}
}

.container {
	width: 100%;
	position: relative;
	margin-top: -8rem;
	.boutique-main {
		margin-top: 8rem;
		width: 100%;
		@include box-sizing(border-box);
		padding: 0 17%;
		@include flexbox();
		position: relative;
		.boutique-main__content {
			width: 60%;
			margin-left: 40%;
			.main-content__image {
				width: 100%;
				height: 25vw;
				overflow: hidden;
				@include flexbox();
				@include justify-content(center);
				@include align-items(center);
				img {
					width: 100%;
				}
			}			
		}
		.boutique-main__header {
			width: 30%;
			position: absolute;
			margin-top: 4%;
			.main-header__border {
				margin-top: 2rem;
				width: 100%;
				height: 3px;
				background-color: $main-color1;
				&.short {
					width: 50%;
				}
			}
			.main-header__title {
				font-family: 'Prata', serif;
				font-size: 3rem;
				color: $main-color1;
				margin-top: 2rem;
			}
			.main-header__subtitle {
				margin-top: 2rem;
				margin-bottom: 2rem;
				font-size: 0.7rem;
				line-height: 1.4rem;
				font-family: 'Nanum Gothic', sans-serif;
				word-break: keep-all;
				word-wrap: break-word;
				color: $main-color1;
				width: 70%;
			}
		}
	}
	.boutique-content {
		width: 100%;
		@include box-sizing(border-box);
		padding: 0 17%;
		margin-top: 4rem;
		.boutique-find {
			@include flexbox();
			@include flex-direction(column);
			@include align-items(center);
			.search-box {
				margin-top: 2rem;
				width: 60%;
				height: 3rem;
				border: 1px solid $main-color1;
				@include flexbox();
				@include align-items(center);
				margin-bottom: 3rem;
				input {
					width: 90%;
					margin-right: 5%;
					font-size: 1rem;
					font-family: 'Nanum Gothic', sans-serif;
					outline: none;
					background-color: transparent;
					border: none;
					padding-left: 5%;
					font-weight: bold;
					color: $main-color1;
					&::-webkit-input-placeholder {
					    color: $main-color2;
					}
					&:-moz-placeholder {
						color: $main-color2;							   
					}
					&::-moz-placeholder { 
					   color: $main-color2;
					}
					&:-ms-input-placeholder {
					   color:  $main-color2;
					}
					&::placeholder {
					   color: $main-color2;
					}
				}
				button {
					outline: none;
					background-color: transparent;
					border: none;
					width: 10%;
					height: 1.8rem;
					border-left: 1px solid $main-color1;
					@include flexbox();
					@include align-items(center);
					@include justify-content(center);
					cursor: pointer;
					img {
						width: 80%;
					}
				}
			}
		}
		.map-box {
			width: 100%;
			height: 28vw;
			overflow: hidden;
		}
		.boutique-info {
			width: 100%;
			@include flexbox();
			@include align-items(flex-start);
			margin-top: 3rem;
			.boutique-info__address {
				width: 40%;
				margin-right: 5%;
				.address-title {
					width: 100%;
					color: $main-color1;
					font-size: 0.9rem;
					font-family: 'Spoqa Han Sans', 'Sans-serif';
					font-weight: bold;
				}
				.address-text {
					margin-top: 1rem;
					font-size: 0.7rem;
					line-height: 1.4rem;
					color: $main-color2;
					font-family: 'Nanum Gothic', sans-serif;
					word-break: keep-all;
					word-wrap: break-word;
				}
			}
			.boutique-info__call {
				width: 25%;
				margin-right: 5%;
				.call-title {
					width: 100%;
					color: $main-color1;
					font-size: 0.9rem;
					font-family: 'Spoqa Han Sans', 'Sans-serif';
					font-weight: bold;
				}
				.call-text {
					margin-top: 1rem;
					font-size: 0.7rem;
					line-height: 1.4rem;
					color: $main-color2;
					font-family: 'Nanum Gothic', sans-serif;
				}
			}
			.boutique-info__book {
				width: 25%;
				background-color: $main-color1;
				color: $font-white;
				border: none;
				text-align: center;
				padding: 0.8rem 2.5rem;
				cursor: pointer;
				@include transition(all 0.5s ease);
				&:hover {
					background-color: $main-color2;
					color: $main-color1;
				}
			}
		}
	}
}
@media screen and (min-width: 320px) and (max-width: 810px) {
	.container {
		.boutique-main {
			padding: 0 7%;
			.boutique-main__content {
				margin-top: 10%;
				.main-content__image {
					height: 35vw;					
					img {
						width: 100%;
					}
				}				
			}
			.boutique-main__header {
				width: 40%;
				margin-top: 0;
				.main-header__border {
					margin-top: 1rem;
					&.short {
						width: 50%;
					}
				}
				.main-header__title {
					font-size: 2rem;
					margin-top: 1rem;
				}
				.main-header__subtitle {
					margin-top: 1rem;
					margin-bottom: 0;
					font-size: 0.6rem;
					line-height: 1.2rem;					
					width: 95%;
				}
			}
		}
		.boutique-content {
		padding: 0 7%;
		margin-top: 4rem;
		.boutique-find {
			.search-box {
				margin-top: 2rem;
				width: 100%;
				height: 2.5rem;				
				margin-bottom: 2rem;
				input {
					width: 77%;
					font-size: 0.8rem;					
					padding-left: 3%;					
				}
				button {					
					width: 18%;
				}
			}
		}
		.map-box {
			width: 100%;
			height: 58vw;
			overflow: hidden;
		}
		.boutique-info {
			width: 100%;
			margin-top: 2rem;
			@include flex-direction(column);
			.boutique-info__address {
				width: 100%;
				margin-right: 0;
				.address-title {
					width: 100%;
					color: $main-color1;
					font-size: 0.9rem;
					font-family: 'Spoqa Han Sans', 'Sans-serif';
					font-weight: bold;
				}
				.address-text {
					font-size: 0.7rem;
					line-height: 1.4rem;
					color: $main-color2;
					font-family: 'Nanum Gothic', sans-serif;
					word-break: keep-all;
					word-wrap: break-word;
				}
			}
			.boutique-info__call {
				margin-top: 2rem;
				width: 100%;
				margin-right: 0;
				.call-title {
					width: 100%;
					color: $main-color1;
					font-size: 0.9rem;
					font-family: 'Spoqa Han Sans', 'Sans-serif';
					font-weight: bold;
				}
				.call-text {
					font-size: 0.7rem;
					line-height: 1.4rem;
					color: $main-color2;
					font-family: 'Nanum Gothic', sans-serif;
				}
			}
			.boutique-info__book {
				margin-top: 2rem;
				width: 100%;
				padding: 0.8rem 2.5rem;				
			}
		}
	}
	}
}