@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';
.header {
	width: 100%;
	height: 8rem;
	background-color: transparent;
	@include flexbox();
	@include justify-content(center);
	z-index: 9000;
	position: relative;
	.mobile-menu {
		display: none;
	}
	.nav {
		width: 80%;
		height: 8rem;
		@include flexbox();
		@include align-items(center);
		.nav-logo {
			width: 12.5%;
			margin-right: 37.5%;
			a {
				img {
					width: 100%;
				}
			}
		}
		.nav-gnb {
			width: 45%;
			@include flexbox();
			@include justify-content(space-between);
			.nav-gnb__tab {
				text-decoration: none;
				font-family: 'Libre Baskerville', serif;
				color: $main-color1;
				font-size: 0.7rem;
				position: relative;
				&:after {
					content: '';
					width: 0;
					height: 3px;
					background-color: $main-color1;
					@include transition(all 0.3s ease);
					position: absolute;
					bottom: -0.5rem;
					left: 0;
				}
				&:hover {
					&:after {
						content: '';
						width: 100%;
					}
				}
			}
		}
		.nav-search {
			width: 5%;
			@include flexbox();
			@include justify-content(flex-end);
			@include align-items(center);
			.nav-search__box {
				display: none;
				background-color: $main-color2;
				color: $main-color1;
				font-size: 0.8rem;
				font-family: 'Nanum Gothic', sans-serif;
				height: 1rem;
			}
			.nav-search__icon {
				width: 2rem;
				height: 2rem;
				background-color: $main-color2;
				@include flexbox();
				@include justify-content(center);
				@include align-items(center);
				cursor: pointer;
				img {
					width: 65%;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
	.header {
		.nav {
			.nav-logo {
				margin-right: 27.5%;
			}
			.nav-gnb {
				width: 55%;
				.nav-gnb__tab {
					font-size: 0.6rem;
				}
			}
		}
	}
}
@media screen and (min-width: 811px) and (max-width: 1023px){
	.header {
		.nav {
			.nav-logo {
				margin-right: 17.5%;
			}
			.nav-gnb {
				width: 65%;
				.nav-gnb__tab {
					font-size: 0.6rem;
				}
			}
			.nav-search {
				.nav-search__icon {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}
	}
}
//smartphone
@media screen and (min-width: 320px) and (max-width: 810px) {
	.header {
		height: 4rem;
		.nav {
			width: 100%;
			height: 100%;
			@include justify-content(center);
			z-index: 9001;
			.nav-logo {	
				width: 60%;
				height: 3rem;
				@include flexbox();
				@include justify-content(center);
				@include align-items(center);
				margin-right: 0;
				a {
					img {
						width: unset;
						height: 90%;
					}
				}
			}
			.nav-gnb {
				display: none;
			}
			.nav-search {
				display: none;				
			}
		}
		.mobile-menu {
			display: block;
			width: 2.5rem;
			height: 2.5rem;
			position: absolute;
			top: 0.75rem;
			right: 5%;
		}
	}
}