@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';

html {
	font-size: 16px;
}
body {
	width: 100%;
	overflow-x: hidden;
	background-color: $body-bg;
}
.header {
	.nav {
		.nav-gnb {
			.nav-gnb__tab:nth-of-type(2) {
				font-weight: bold;
			}
		}
	}
}
/*animated appear animation*/
@-webkit-keyframes appear {
  0%   { transform:translateY(20px); opacity: 0;  }
  100% { transform:translateY(0); opacity: 1; }
}
@-moz-keyframes appear {
  0%   { transform:translateY(20px); opacity: 0;  }
  100% { transform:translateY(0); opacity: 1; }
}
@keyframes appear {
  0%   { transform:translateY(20px); opacity: 0;  }
  100% { transform:translateY(0); opacity: 1; }
}

.container {
	width: 100%;
	position: relative;
	margin-top: -8rem;
	.history-main {
		margin-top: 10rem;
		width: 100%;
		@include box-sizing(border-box);
		padding: 0 17%;
		@include flexbox();
		position: relative;
		.history-main__content {
			width: 60%;
			margin-left: 40%;
			margin-top: 15%;
			.main-content__image {
				width: 100%;
				height: 20vw;
				overflow: hidden;
				@include flexbox();
				@include justify-content(center);
				@include align-items(center);
				@include box-shadow(5px 7px 12px $box-shadow);
				img {
					width: 100%;
				}
			}
			.main-content__text {
				width: 100%;
				position: relative;
				.main-content__text-desc {
					width: 75%;
					font-size: 0.85rem;
					line-height: 1.7rem;
					font-family: 'Nanum Gothic', sans-serif;
					word-break: keep-all;
					word-wrap: break-word;
					color: $main-color1;
					text-align: left;
					margin-top: 2rem;
					@include box-sizing(border-box);
					padding-left: 5%;
					z-index: 5;
					position: relative;
				}
				.main-content__text-year {
					font-family: 'Poppins', sans-serif;
					font-size: 6rem;
					font-weight: 900;
					color: $font-pale-gray;
					width: 100%;
					text-align: right;
					position: absolute;
					right: 0;
					top: -2rem;
				}
			}
		}
		.history-main__header {
			width: 30%;
			position: absolute;
			.main-header__border {
				margin-top: 2rem;
				width: 100%;
				height: 3px;
				background-color: $main-color1;
				&.short {
					width: 50%;
				}
			}
			.main-header__title {
				font-family: 'Prata', serif;
				font-size: 3rem;
				color: $main-color1;
				margin-top: 2rem;
			}
			.main-header__subtitle {
				margin-top: 2rem;
				margin-bottom: 2rem;
				font-size: 0.7rem;
				line-height: 1.4rem;
				font-family: 'Nanum Gothic', sans-serif;
				word-break: keep-all;
				word-wrap: break-word;
				color: $main-color1;
				width: 70%;
			}
		}
	}
	.history-jlc {
		width: 100%;
		margin-top: 3rem;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.history-content {
		width: 100%;
		@include box-sizing(border-box);
		padding: 0 17%;
		margin-top: 13rem;
		.history-content__card {
			margin-bottom: 10.5rem;
			width: 100%;
			height: 20vw;
			position: relative;
			@include flexbox();
			background-color: transparent;	
			.card-image {
				width: 60%;
				height: 20vw;
				position: absolute;
				@include flexbox();
				@include justify-content(center);
				@include align-items(center);
				background-color: $white;
				overflow: hidden;
				@include box-shadow(5px 7px 12px $box-shadow);
				img {
					width: 100%;
					opacity: 0.85;
				}
				&.right {
					right: 0;
				}
				&.left {
					left: 0;
				}
			}
			.card-text {
				position: absolute;
				width: 45%;
				&.left{
					left: 0;
				}
				&.right {
					right: 0;
					.card-text__desc {
						padding-left: 20%;
						padding-right: 5%;
					}					
				}
				.card-text__border {
					width: 100%;
					height: 2px;
					background-color: $main-color1;
					margin-top: 2.5rem;
				}
				.card-text__desc {
					width: 100%;
					font-size: 0.75rem;
					line-height: 1.6rem;
					font-family: 'Nanum Gothic', sans-serif;
					word-break: keep-all;
					word-wrap: break-word;
					color: $main-color1;
					text-align: left;
					margin-top: 2.5rem;
					@include box-sizing(border-box);
					padding-left: 5%;
					padding-right: 15%;
					z-index: 5;
					position: absolute;
				}
				.card-text__year {
					font-family: 'Poppins', sans-serif;
					font-size: 6rem;
					font-weight: 900;
					color: $font-pale-gray;
					width: 100%;
					text-align: right;
					position: absolute;
					right: 0;
					top: 12rem;
				}
			}
		}
	}	
	.gototop {
		padding: 0.8rem 4.5rem;
		font-size: 0.85rem;
		font-family: 'Nanum Gothic', sans-serif;
		border: 1px solid $main-color2;
		color: $main-color2;
		cursor: pointer;
		background-color: transparent;
		outline: none;
		width: 20%;
		margin-left: 40%;
		@include transition(all 0.5s ease);
		&:hover {
			background-color: $main-color2;
			color: $main-color1;
		}
	}
	
}
@media screen and (min-width: 811px) and (max-width: 1024px){
	.container {
		.history-main {
			margin: 12rem auto 0 auto;
		}
	}
}
@media screen and (min-width: 320px) and (max-width: 810px) {
	.container {
		.history-main {
			margin: 10rem auto 0 auto;
			padding: 0 7%;
			.history-main__content {
				width: 80%;
				margin-left: 20%;
				margin-top: 54%;
				.main-content__image {
					height: 35vw;
					img {
						width: 100%;
					}
				}
				.main-content__text {
					width: 100%;
					position: relative;
					.main-content__text-desc {
						width: 95%;
						font-size: 0.7rem;
						line-height: 1.4rem;
						margin-top: 2rem;
						@include box-sizing(border-box);
						padding-left: 0;
						z-index: 5;
						position: relative;
					}
					.main-content__text-year {
						font-size: 3rem;
						top: 2rem;
						color: $main-color2;
					}
				}
			}
			.history-main__header {
				width: 86%;
				position: absolute;
				.main-header__border {
					margin-top: 1rem;
					&.short {
						width: 35%;
					}
				}
				.main-header__title {
					font-size: 2rem;
					margin-top: 1rem;
				}
				.main-header__subtitle {
					position: absolute;
					right: 0;
					font-size: 0.6rem;
					line-height: 1.2rem;
					width: 60%;
					top: 28%;
					margin-top: 0;
					margin-bottom: 0;
					width: 55%;
				}
			}
		}
		.history-content {
			width: 100%;
			padding: 0 7%;
			margin-top: 6rem;
			.history-content__card {
				margin-bottom: 80%;
				width: 100%;
				height: 20vw;
				position: relative;
				@include flexbox();
				background-color: transparent;	
				.card-image {
					width: 80%;
					height: 35vw;
					img {
						width: 100%;
						opacity: 0.85;
					}
					&.right {
						right: 0;
					}
					&.left {
						left: 0;
					}
				}
				.card-text {
					position: absolute;
					width: 100%;
					top: 105%;
					&.left{
						left: 0;
					}
					&.right {
						right: 0;
						.card-text__desc {
							padding-left: 15%;
							padding-right: 5%;
							text-align: right;
						}
						.card-text__border {
							margin-left: 70%;
						}
						.card-text__year {
							text-align: left;
						}
					}
					.card-text__border {
						width: 30%;
						height: 2px;
						margin-top: 2.5rem;
					}
					.card-text__desc {
						width: 100%;
						font-size: 0.7rem;
						line-height: 1.4rem;
						padding-left: 5%;
						padding-right: 15%;
						z-index: 5;
						position: absolute;
					}
					.card-text__year {						
						font-size: 3rem;
						color: $main-color2;
						top: -7rem;
					}
				}
			}
		}
		.gototop {
			padding: 0.8rem 4.5rem;
			font-size: 0.65rem;
			color: $main-color2;
			width: 80%;
			margin-left: 10%;
		}
	}
}