@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';

html {
	font-size: 16px;
}
body {
	width: 100%;
	overflow-x: hidden;
}
/*animated scroll arrow animation*/
@-webkit-keyframes scroll-down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes scroll-down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes scroll-down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

@-webkit-keyframes ltr {
  0%   { transform:translate(-15px,0) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(15px,0) rotate(45deg); opacity: 0; }
}
@-moz-keyframes ltr {
  0%   { transform:translate(-15px,0) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(15px,0) rotate(45deg); opacity: 0; }
}
@keyframes ltr {
  0%   { transform:translate(-15px,0) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(15px,0) rotate(45deg); opacity: 0; }
}

/*animated appear animation*/
@-webkit-keyframes appear {
  0%   { transform:translateY(20px); opacity: 0; @include box-shadow(0 0 0 $box-shadow); }
  100% { transform:translateY(0); opacity: 1; @include box-shadow(7px 7px 35px $box-shadow);}
}
@-moz-keyframes appear {
  0%   { transform:translateY(20px); opacity: 0; @include box-shadow(0 0 0 $box-shadow); }
  100% { transform:translateY(0); opacity: 1; @include box-shadow(7px 7px 35px $box-shadow);}
}
@keyframes appear {
  0%   { transform:translateY(20px); opacity: 0; @include box-shadow(0 0 0 $box-shadow); }
  100% { transform:translateY(0); opacity: 1; @include box-shadow(7px 7px 35px $box-shadow);}
}

@-webkit-keyframes appear-watch {
  0%   { transform:translateY(7px); opacity: 0;}
  100% { transform:translateY(0); opacity: 1;}
}
@-moz-keyframes appear-watch {
  0%   { transform:translateY(7px); opacity: 0;}
  100% { transform:translateY(0); opacity: 1;}
}
@keyframes appear-watch {
  0%   { transform:translateY(7px); opacity: 0;}
  100% { transform:translateY(0); opacity: 1;}
}

@-webkit-keyframes stretch-one {
  0%   { height: 4rem; background-color: transparent;}
  100% { height: 100vh; background-color: $main-color1; }
}
@-moz-keyframes stretch-one {
  0%   { height: 4rem; background-color: transparent;}
  100% { height: 100vh; background-color: $main-color1; }
}
@keyframes stretch-one {
  0%   { height: 4rem; background-color: transparent;}
  100% { height: 100vh; background-color: $main-color1; }
}
.slick-slider{
	position:relative;
	display:block;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-touch-callout:none;
	-khtml-user-select:none;
	-ms-touch-action:pan-y;
	touch-action:pan-y;
	-webkit-tap-highlight-color:transparent
}
.slick-list{
	position:relative;
	display:block;
	overflow:hidden;
	margin:0;
	padding:0
}
.slick-list:focus{
	outline:none;
}
.slick-list.dragging{
	cursor:hand;
}
.slick-slider .slick-track,.slick-slider .slick-list{
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
.slick-track{
	position:relative;
	top:0;
	left:0;
	display:block;
}
.slick-track:before,.slick-track:after{
	display:table;
	content:'';
}
.slick-track:after{
	clear:both;
}
.slick-loading .slick-track{
	visibility:hidden;
}
.slick-slide{
	display:none;
	float:left /* If RTL Make This Right */ ;
	height:100%;
	min-height:1px;
}
.slick-slide.dragging img{
	pointer-events:none;
}
.slick-initialized .slick-slide{
	display:block;
}
.slick-loading .slick-slide{
	visibility:hidden;
}
.slick-vertical .slick-slide{
	display:block;
	height:auto;
	//border:1px solid transparent;
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    width: 29.5%;
    left: 0;
    bottom: 14%;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    li {
        position: relative;
        display: inline-block;
        height: 0.4rem;
        width: 0.4rem;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            background: transparent;
            display: block;
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            cursor: pointer;
            padding: 0;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                border: 1px solid $white;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                font-family: 'Libre Baskerville', serif;
                //font-size: 6px;
                //line-height: 20px;
                text-align: center;
                color: white;
                opacity: 0.25;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: white;
            opacity: 0.75;
        }
    }
}
.header {
	.nav{
		.nav-gnb {
			.nav-gnb__tab {
				color: $main-color2;
				&:after {
					background-color: $main-color2;
				}
			}
		}
		&.mobile {
			@include animation(stretch-one 0.5s ease);
			background-color: $main-color1;
			.nav-search {
				border: 1px solid $main-color2;
				.nav-search__box {
					&::-webkit-input-placeholder {
					    color: $main-color2;
					}
					&:-moz-placeholder {
					   color: $main-color2;							   
					}
					&::-moz-placeholder { 
					   color: $main-color2;
					}
					&:-ms-input-placeholder {
					   color:  $main-color2;
					}
					&::placeholder {
					   color: $main-color2;
					}
				}
			}
		}
	}
	.mobile-menu {
		.mobile-menu-line {
			background-color: $main-color2;
		}
	}
}
.main {
	width: 100%;
	position: relative;
	margin-top: -8rem;
	.main-slider {
		position: relative;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		@include transform(scale(1));
		@include transition(filter 800ms ease);
		.item {
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.content {
				width: 29.5%;
				height: 100%;
				background-color: $main-color1-900;
				position: absolute;
				top: 0;
				left: 0;
				@include flexbox();
				@include align-items(center);
				@include justify-content(center);
				.content-wrapper {
					@include flexbox();
					@include flex-direction(column);
					@include align-items(center);
					@include justify-content(center);
					margin-top: -6rem;
					.content-indicator {
						width: 4rem;
						height: 0.5rem;
						background-color: $white;
						z-index: 1000;
					}
					.content-title {
						margin-top: 1.1rem;
						width: 65%;
						font-size: 1.7rem;
						line-height: 2.2rem;
						font-family: 'Libre Baskerville', serif;
						text-align: center;
						color: $font-white;
						word-break: keep-all;
						word-wrap: break-word;
						z-index: 1000;
					}
					.content-subtitle {
						margin-top: 1.5rem;
						width: 40%;
						font-size: 0.6rem;
						line-height: 1.2rem;
						font-family: 'Nanum Gothic', sans-serif;
						text-align: center;
						color: $font-white;
						word-break: keep-all;
						z-index: 1000;
					}
					.content-more {
						margin-top: 2rem;
						border: 1px solid $white;
						font-family: 'Nanum Gothic', sans-serif;
						text-align: center;
						color: $font-white;
						font-size: 0.6rem;
						padding: 0.5rem 1.6rem;
						z-index: 1000;
						text-decoration: none;
						@include transition(background-color 0.5s ease);
						&:hover {
							background-color: $white-150;
						}
					}
				}								
			}
			.slide-num {
				position: absolute;
				color: $main-color2;
				font-size: 0.8rem;
				font-family: 'Poppins', sans-serif;
				top: 42%;
				right: 11%;
				z-index: 1000;
			}
		}
	}
	.scroll-down {
		position: absolute;
		top: 28%;
		right: 10%;		
		@include animation(scroll-down 1.5s linear infinite);
		.scroll-down-icon {
			width: 1rem;
			height: 1rem;
			border-top: 1px solid $white;
			border-right: 1px solid $white;
			@include transform(rotate(135deg));
		}
	}
	.main-content {
		width: 100%;
		.section {
			margin-top: 10rem;
			@include box-sizing(border-box);
			padding: 0 17%;
			width: 100%;
			@include flexbox();
			@include justify-content(center);
			.section-wrapper {
				width: 100%;
				@include flexbox();
				@include flex-direction(column);
				@include align-items(center);
				.section-title {
					width: 100%;
					position: relative;
					@include flexbox();
					@include flex-direction(column);
					@include align-items(center);
					.section-title__title {						
						font-size: 1rem;
						font-family: 'Libre Baskerville', serif;
						color: $main-color1;
						position: relative;
						text-align: center;
						&:after {
							content: '';
							width: 100%;
							height: 0.2rem;
							background-color: $main-color2;
							position: absolute;
							display: block;
							margin-top: 0.5rem;
						}
					}
					.section-title__deco {
						width: 0.5rem;
						height: 0.5rem;
						border-radius: 0.5rem;
						border: 1px solid $main-color2;
						background-color: $main-color1;
						position: absolute;
						bottom: -0.95rem;
					}
				}
				.section-content {
					margin-top: 3rem;
					width: 100%;					
					.introduce {
						width: 100%;
						@include flexbox();
						.introduce-left {
							width: 33%;
							height: 32vw;
							margin-right: 5%;
							@include flexbox();
							@include justify-content(center);
							@include align-items(center);
							background-color: $main-color2-150;
							img {
								width: 90%;
							}
						}
						.introduce-right {
							width: 62%;
							@include flexbox();
							@include flex-direction(column);
							@include justify-content(space-between);
							.big-watch-content {
								width: 100%;								
								border-bottom: 2px solid $main-color1;
								@include flexbox();
								@include flex-direction(column);
								margin-top: 2.5rem;
								margin-bottom: 2.2rem;
								position: relative;
								&:hover {
									.big-watch-detail {
										.big-watch-detail__arrow {
											.big-watch-detail__arrow-icon {
												@include animation(ltr 1s ease infinite);
											}											
										}
									}
								}
								.big-watch-indicator {
									width: calc(94% / 3);
									height: 0.2rem;
									background-color: $main-color1;
									margin-left: -7rem;
								}
								.big-watch-text {
									width: 100%;
									@include flexbox();
									margin-top: 1.5rem;
									.big-watch-text__title {
										width: calc(94% / 3);
										font-size: 1.2rem;
										line-height: 1.5rem;
										color: $main-color1;
										font-family: 'Nanum Gothic', sans-serif;
										margin-right: 3%;
										word-break: keep-all;
										word-wrap: break-word;
										font-weight: bold;
										cursor: pointer;
									}
									.big-watch-text__desc {
										width: calc(94% / 3);
										font-size: 0.7rem;
										line-height: 1.3rem;
										color: $main-color1;
										font-family: 'Nanum Gothic', sans-serif;
										word-break: keep-all;
										word-wrap: break-word;
									}
								}
								.big-watch-detail {
									width: 100%;
									height: 1.5rem;
									position: relative;
									@include flexbox();
									@include align-items(center);
									margin-top: 0.8rem;
									margin-bottom: 0.5rem;
									.big-watch-detail__arrow {
										position: absolute;
										right: 7%;
										width: 1.5rem;
										height: 1.5rem;
										.big-watch-detail__arrow-icon {
											width: 0.7rem;
											height: 0.7rem;
											border-top: 1px solid $main-color1;
											border-right: 1px solid $main-color1;
											@include transform(rotate(45deg));
										}
									}
									p {
										position: absolute;
										right: 0;
										font-size: 0.7rem;
										margin-top: -0.3rem;
										color: $main-color1;
										font-family: 'Nanum Gothic', sans-serif;
										text-align: right;
										cursor: pointer;
										&:hover {
											text-decoration: underline;
										}
									}
								}
							}
							.watch-list {
								width: 100%;
								@include flexbox();
								@include justify-content(space-between);
								overflow: hidden;							
								.watch {
									width: calc(94% / 3);
									max-height: calc(32vw * 0.65);
									margin-left: 3%;
									position: relative;
									cursor: pointer;
									&:nth-of-type(1) {
										margin-left: 0;
									}
									&:hover {
										.watch-gradient {
											top: 0;
										}
										.watch-title {
											opacity: 1;
											@include animation(appear-watch 0.5s ease);
										}
										.watch-detail {
											opacity: 1;
											@include animation(appear-watch 0.5s ease);
										}
									}
									.watch-image {
										position: relative;
										width: 100%;
										height: 100%;
										@include flexbox();
										@include justify-content(center);
										@include align-items(center);
										background-color: $main-color2-150;
										img {
											width: 85%;
										}									
									}
									.watch-gradient {
										width: 100%;
										height: 100%;
										@include background-color();
										position: absolute;
										top: 100%;
										left: 0;
										@include transition(all 0.3s ease);
									}
									.watch-title {
										position: absolute;
										width: 60%;
										margin-left: 20%;
										font-size: 0.9rem;
										font-family: 'Nanum Gothic', sans-serif;
										color: $main-color2;
										text-align: center;
										word-break: keep-all;
										word-wrap: break-word;
										top: 68%;
										font-weight: bold;
										opacity: 0;
										@include transition(all 0.5s ease);
									}
									.watch-detail {
										position: absolute;
										top: 85%;
										width: 100%;
										text-align: center;
										font-size: 0.6rem;
										color: $main-color2;
										font-family: 'Nanum Gothic', sans-serif;
										opacity: 0;
										@include transition(all 0.5s ease);
										&:after {
											content: '';
											margin-top: 0.4rem;
											display: block;
											width: 18%;
											margin-left: 41%;
											height: 2px;
											background-color: $main-color2;
										}
									}
								}
							}
						}
					}
				}
			}
			&.two {
				.section-wrapper {
					.section-content {
						.service-wrapper {
							width: 100%;
							position: relative;
							.service-center {
								width: 83%;
								height: 35vw;
								position: relative;
								overflow: hidden;
								cursor: pointer;
								&:hover {
									.service-center-find {
										.service-center-find__arrow {
											&:after {
												@include animation(ltr 0.8s ease infinite);
											}
										}
									}
								}
								img {
									width: 100%;
									position: absolute;
									bottom: 0;
								}
								.service-center-find {
									width: 35%;
									height: 100%;
									position: absolute;
									background-color: $main-color1-900;
									@include box-sizing(border-box);
									padding-top: 40%;
									padding-left: 5%;
									padding-right: 5%;
									.service-center-find__arrow {
										width: 2rem;
										height: 2rem;
										border-radius: 50%;
										background-color: $main-color2;
										position: relative;
										&:after {
											content: '';
											width: 0.6rem;
											height: 0.6rem;
											border-top: 1px solid $main-color1;
											border-right: 1px solid $main-color1;
											@include transform(rotate(45deg));
											position: absolute;
											top: 33%;
											left: 26%;
										}
									}
									.service-center-find__title {										
										margin-top: 1.5rem;
										color: $main-color2;
										font-family: 'Nanum Gothic', sans-serif;
										font-size: 1.4rem;

									}
									.service-center-find__subtitle {
										width: 100%;
										margin-top: 1.5rem;
										color: $main-color2;
										font-family: 'Nanum Gothic', sans-serif;
										word-break: keep-all;
										word-wrap: break-word;
										font-size: 0.7rem;
										line-height: 1.2rem;
									}
								}
							}
							.service-list {
								width: 24%;
								height: 20rem;
								background-color: $main-color2;
								position: absolute;
								top: 20%;
								right: 0;
								opacity: 0;
								@include flexbox();
								@include align-items(center);
								&.appear {
									@include animation(appear 0.5s ease);
									opacity: 1;
									@include box-shadow(7px 7px 35px $box-shadow);
								}
								.service-list-wrapper {
									width: 70%;
									height: 70%;
									margin-left: 15%;
									.service-tab{
										width: 100%;
										height: calc(100% / 3);
										border-top: 1px solid $main-color1;
										list-style: none;
										position: relative;
										@include flexbox();
										@include align-items(center);
										cursor: pointer;
										&:hover {
											.service-arrow {
												.service-arrow__icon {
													&:after {
														@include animation(ltr 0.8s ease infinite);
													}
												}
											}
										}
										&:nth-of-type(1) {
											border-top: none;
										}
										.service-title {
											color: $main-color1;
											font-family: 'Nanum Gothic', sans-serif;
											font-size: 0.8rem;
										}
										.service-arrow {
											width: 2rem;
											position: absolute;
											right: 0;
											.service-arrow__icon {
												width: 2rem;
												height: 2rem;
												border-radius: 50%;
												background-color: $main-color1;
												position: relative;
												&:after {
													content: '';
													width: 0.6rem;
													height: 0.6rem;
													border-top: 1px solid $main-color2;
													border-right: 1px solid $main-color2;
													@include transform(rotate(45deg));
													position: absolute;
													top: 33%;
													left: 26%;
												}
											}											
										}
									}
								}
							}						
						}
					}
					.reference-number {
						margin-top: 3rem;
						color: $main-color2;
						border: 1px solid $main-color2;
						font-size: 0.8rem;
						padding: 0.8rem 3.5rem;
						cursor: pointer;
						text-align: center;
						word-break: keep-all;
						word-wrap: break-word;
						@include transition(all 0.5s ease);
						&:hover {
							color: $main-color1;
							background-color: $main-color2;
						}
					}
				}
			}
		}
	}	
}
@media screen and (min-width: 811px) and (max-width: 1280px){

	.main {
		.main-slider {
			.item {
				.content {
					.content-wrapper {
						margin-top: 0;
						.content-subtitle {
							width: 55%;
						}
					}
				}
			}
		}
		.scroll-down {
			top: 26%;
		}
	}
}
@media screen and (min-width: 320px) and (max-width: 810px) {
	.slick-dots {
		width: 100%;
		@include box-sizing(border-box);
		padding-left: 60%;
		bottom: 7%;
	}
	.main {
		margin-top: -4rem;
		.main-slider {
			height: 159vw;
			.item {
				video {
					display: none;
				}
				.slider-image {
					width: 100vw;
					height: 159vw;
					@include flexbox();
					@include justify-content(center);
					@include align-items(center);
					img {
						height: 100%;
					}
				}
				.content {
					width: 100%;
					height: 65%;
					@include mobile-slider-bg();
					bottom: 0;
					left: 0;
					top: unset;
					@include justify-content(flex-start);
					.content-wrapper {
						@include align-items(flex-start);
						@include justify-content(flex-start);
						padding-left: 5%;
						margin-top: 7rem;
						.content-title {
							text-align: left;
							margin-top: 0.7rem;
						}
						.content-subtitle {
							text-align: left;
							width: 80%;
							margin-top: 0.7rem;
						}
					}
				}
				.slide-num {
					display: none;
				}
			}
		}
		.scroll-down {
			top: 29%;
			right: 47%;
			.scroll-down-icon {
				border-top: 1px solid $main-color1;
				border-right: 1px solid $main-color1;
			}
		}
		.main-content {
			.section {
				padding: 0 5%;
				.section-wrapper {
					.section-content {
						.introduce {
							position: relative;
							.introduce-left {
								width: 65%;
								height: 102vw;
							}
							.introduce-right {
								width: 100%;
								position: absolute;
								top: 0;
								.big-watch-content {
									width: 40%;
									height: 82vw;
									margin-left: 60%;
									.big-watch-indicator {
										margin-left: -2rem;
										width: 70%;
									}
									.big-watch-text {
										margin-top: 3rem;
										@include flex-direction(column);
										.big-watch-text__title {
											width: 100%;
										}
										.big-watch-text__desc {
											width: 100%;
											margin-top: 2rem;
										}
									}
									.big-watch-detail {
										margin-top: 5rem;
										.big-watch-detail__arrow {
											right: 31%;
										}
										.big-watch-detail__arrow-icon {}
									}
								}
								.watch-list {
									margin-top: 8%;
									.watch {
										max-height: unset;
										height: 42vw;
										.watch-title {
											width: 100%;
											margin-left: 0;
											font-size: 0.8rem;
											top: 52%;
										}
										.watch-detail {
											top: 80%;
										}
									}
								}
							}
						}
					}					
				}
				&.two {
					margin-top: 16rem;
					.section-wrapper {
						.section-content {
							.service-wrapper {
								.service-center {
									width: 100%;
									height: 60vw;
									.service-center-find {
										width: 50%;
										height: 100%;
										padding-top: 18%;
										bottom: 0;
										.service-center-find__arrow {
											width: 1.5rem;
											height: 1.5rem;
											&:after {
												width: 0.5rem;
												height: 0.5rem;
												top: 33%;
												left: 27%;
											}
										}
										.service-center-find__title {
											font-size: 1rem;
											margin-top: 0.8rem;
										}
										.service-center-find__subtitle {
											margin-top: 0.7rem;
										}
									}
								}
								.service-list {
									width: 100%;
									height: 11rem;
									position: relative;
									.service-list-wrapper {
										width: 100%;
										height: 100%;
										margin-left: 0;
										.service-tab{
											padding: 0 5%;
											@include box-sizing(border-box);
											.service-title {
											}
											.service-arrow {
												right: 5%;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}