@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';

html {
	font-size: 16px;
}
body {
	width: 100%;
	overflow-x: hidden;
}
.header {
	.nav {
		.nav-gnb {
			.nav-gnb__tab:nth-of-type(4) {
				font-weight: bold;
			}
		}
	}
}
.container {
	width: 100%;
	position: relative;
	margin-top: -8rem;
	.jumbotron {
		position: relative;
		width: 100%;
		height: 83vh;
		overflow: hidden;
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);
		background-color: $main-color2;
		.jumbotron-inner {
			margin-top: 4rem;
			width: 70%;
			height: 65%;
			border: 3px solid $main-color1;
			padding: 0 6.5%;
			background-color: $main-color1;
			@include box-sizing(border-box);
			@include flexbox();
			@include flex-direction(column);
			@include justify-content(center);
			position: relative;
			.jumbotron-indicator {
				width: 8rem;
				height: 0.5rem;
				background-color: $main-color2;
			}
			.jumbotron-title {
				margin-top: 1.3rem;
				font-family: 'Libre Baskerville', serif;
				font-size: 3rem;
				line-height: 3.6rem;
				word-break: keep-all;
				word-wrap: break-word;
				color: $main-color2;
			}
			.jumbotron-subtitle {
				width: 23%;
				margin-top: 1.5rem;
				font-family: 'Nanum Gothic', sans-serif;
				word-break: keep-all;
				word-wrap: break-word;
				color: $main-color2;
				font-size: 0.7rem;
				line-height: 1.4rem;
			}
			.jumbotron-images {
				width: 70%;
				height: 100%;
				position: absolute;
				right: 0;
				overflow: hidden;
				.images-text {
					font-family: 'Poppins', sans-serif;
					font-weight: 900;
					width: 100%;
					text-align: center;
					color: $main-color2-150;
					font-size: 8rem;
					line-height: 8rem;
					margin-top: 1rem;
				}
				img {
					width: 40%;
					position: absolute;
					top: 12%;
					left: 29.5%;
				}
			}
		}		
		.jumbotron-num {
			position: absolute;
			font-family: 'Libre Baskerville', serif;
			font-size: 0.9rem;
			font-weight: bold;
			color: $main-color1;
			right: 10.3%;
			top: 53%;
		}
	}
	.content {
		width: 100%;
		.content-wrapper {
			width: 100%;
			padding: 0 13%;
			@include flexbox();
			@include flex-direction(column);
			@include align-items(center);
			@include box-sizing(border-box);
		}
	}
}