@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';

html {
	font-size: 16px;
}
body {
	width: 100%;
	overflow-x: hidden;
	background-color: $body-bg;
}
.header {
	.nav {
		.nav-gnb {
			.nav-gnb__tab:nth-of-type(6) {
				font-weight: bold;
			}
		}
	}
}
@-webkit-keyframes ltr {
  0%   { transform:translate(-15px,0) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(15px,0) rotate(45deg); opacity: 0; }
}
@-moz-keyframes ltr {
  0%   { transform:translate(-15px,0) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(15px,0) rotate(45deg); opacity: 0; }
}
@keyframes ltr {
  0%   { transform:translate(-15px,0) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(15px,0) rotate(45deg); opacity: 0; }
}
.container {
	width: 100%;
	position: relative;
	margin-top: -8rem;
	.services-main {
		margin-top: 8rem;
		width: 100%;
		@include box-sizing(border-box);
		padding: 0 17%;
		@include flexbox();
		position: relative;
		.services-main__content {
			width: 30%;
			margin-left: 70%;
			margin-top: 7%;
			.content-tab-list {
				width: 100%;
				@include flexbox();
				@include flex-direction(column);
				.content-tab {
					width: 100%;
					height: 3rem;
					@include flexbox();
					@include align-items(center);
					border-bottom: 1px solid $main-color2;
					margin-top: 1rem;
					position: relative;
					cursor: pointer;
					&:hover {
						.content-tab__arrow {
							span {
								@include animation(ltr 1s ease infinite);
							}
						}
					}
					.content-tab__num {
						font-size: 0.7rem;
						font-family: 'Poppins', sans-serif;
						font-weight: 900;
						color: $main-color2;
						margin-right: 0.5rem;
					}
					.content-tab__title {
						font-size: 0.7rem;
						font-family: 'Spoqa Han Sans', 'Sans-serif';
						color: $main-color2;
						margin-right: 0.5rem;
					}
					.content-tab__arrow {
						width: 3rem;
						height: 3rem;
						@include flexbox();
						@include justify-content(center);
						@include align-items(center);
						position: absolute;
						right: 0;
						span {
							width: 0.6rem;
							height: 0.6rem;
							border-top: 1px solid $main-color2;
							border-right: 1px solid $main-color2;
							@include transform(rotate(45deg));
						}
					}
				}
			}
		}
		.services-main__header {
			width: 30%;
			position: absolute;
			margin-top: 4%;
			.main-header__border {
				margin-top: 2rem;
				width: 100%;
				height: 3px;
				background-color: $main-color1;
				&.short {
					width: 50%;
				}
			}
			.main-header__title {
				font-family: 'Prata', serif;
				font-size: 3rem;
				color: $main-color1;
				margin-top: 2rem;
			}
			.main-header__subtitle {
				margin-top: 2rem;
				margin-bottom: 2rem;
				font-size: 0.7rem;
				line-height: 1.4rem;
				font-family: 'Nanum Gothic', sans-serif;
				word-break: keep-all;
				word-wrap: break-word;
				color: $main-color1;
				width: 70%;
			}
		}
	}
	.services-jlc {
		width: 100%;
		height: 35vw;
		margin-top: 9rem;
		overflow: hidden;
		position: relative;
		opacity: 0.5;
		img {
			position: absolute;
			width: 100%;
			top: 0;
		}
	}
	.content {
		width: 100%;
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		.content-wrapper {
			width: 100%;
			padding: 0 17%;
			@include flexbox();
			@include flex-direction(column);
			@include align-items(center);
			@include box-sizing(border-box);
			.services__header {
				margin-top: 5rem;
				width: 100%;
				@include flexbox();
				@include flex-direction(column);
				@include align-items(flex-start);
				position: relative;
				.services__border {
					margin-top: 2rem;
					width: 100%;
					height: 2px;
					background-color: $main-color1;
					&.short {
						width: calc(96% / 3);
					}
				}				
				.services__title {
					margin-top: 2rem;
					font-family: 'Spoqa Han Sans', 'Sans-serif';						
					font-size: 1.2rem;
					line-height: 1.8rem;
					position: relative;
					color: $main-color1;
					font-weight: bold;
				}				
			}
			.services__desc {
				width: 43%;
				font-size: 0.7rem;
				line-height: 1.4rem;
				color: $main-color1;
				word-break: keep-all;
				word-wrap: break-word;
				position: absolute;
				margin-left: 11%;
				margin-top: 9rem;
			}
			.service-wrapper {
				width: 100%;
				@include flexbox();
				.service {
					margin-top: 3rem;
					font-family: 'Nanum Gothic', sans-serif;
					width: calc(96% / 3);
					margin-left: 2%;
					&:nth-of-type(1) {
						margin-left: 0;
					}
					.service-image {
						width: 100%;
						height: 14vw;
						overflow: hidden;
						@include flexbox();
						@include align-items(center);
						img {
							width: 100%;
						}
					}
					.service-title {
						margin-top: 2rem;
						width: 100%;
						text-align: center;
						font-size: 0.95rem;
						font-weight: bold;
						position: relative;
						cursor: pointer;
						&:after {
							content: '';
							width: 22%;
							height: 0.2rem;
							background-color: $main-color1;
							display: block;
							margin-top: 0.4rem;
							position: absolute;
							margin-left: 39%;
						}
					}
					.service-faq {
						margin-top: 2.5rem;
						li {
							margin-top: 0.8rem;
							&:hover {
								a {
									color: $main-color1;
								}
							}
							a {
								text-decoration: none;
								color: $main-color2;
								font-size: 0.7rem;
								line-height: 0.95rem;
								@include transition(all 0.5s ease);
							}
						}
					}
				}
			}
			.faq-button {
				margin-top: 4rem;
				margin-bottom: 2rem;
				width: 100%;
				@include flexbox();
				@include justify-content(center);
				button {
					background-color: transparent;
					border: 1px solid $main-color2;
					color: $main-color2;
					padding: 0.8rem 4.5rem;
					outline: none;
					font-size: 0.7rem;
					@include transition(all 0.5s ease);
					cursor: pointer;
					&:hover {
						background-color: $main-color2;
						color: $main-color1;
					}
				}
			}
			.maintenance-wrapper {
				width: 100%;
				@include flexbox();
				margin-top: 5rem;
				margin-bottom: 4rem;
				.maintenance-videobox {
					width: 65%;
					margin-right: 5%;
					.videobox-wrapper {
						width: 100%;
						padding-bottom: 56.25%;
						position: relative;
						iframe {
							position: absolute;
							width: 100%;
							height: 100%;	
						}
					}
				}
				.maintenance-tab-list {
					width: 30%;
					@include flexbox();
					@include flex-direction(column);
					@include justify-content(space-between);
					@include box-sizing(border-box);
					padding: 3% 0;
					.maintenance-tab {
						width: 100%;
						@include box-sizing(border-box);						
						line-height: 0.9rem;
						padding: 1rem;
						cursor: pointer;
						font-family: 'Nanum Gothic', sans-serif;
						&:hover {
							a {
								color: $main-color1;
							}
						}
						a {
							color: $main-color2;
							font-size: 0.7rem;
							text-decoration: none;
							@include transition(all 0.5s ease);
						}
						&.quick {
							background-color: $main-color2;
							@include transition(all 0.5s ease);
							a {								
								color: $font-white;
								@include transition(all 0.5s ease);
							}
							&:hover {
								background-color: $main-color1;								
							}
						}				
					}
				}
			}
			.garantee-wrapper {
				width: 100%;
				@include flexbox();				
				margin-top: 5rem;
				margin-bottom: 4rem;
				.garantee {
					@include flexbox();
					@include flex-direction(column);
					@include align-items(center);
					width: calc(95% / 2);
					margin-left: 5%;
					background-color: $main-color2;
					&:nth-of-type(1) {
						margin-left: 0;
					}
					.garantee-image {
						width: 100%;
						overflow: hidden;
						height: 14vw;
						@include flexbox();
						@include align-items(center);
						@include justify-content(center);
						img {
							width: 100%;
						}
					}
					.garantee-desc {
						width: 75%;
						margin-top: 1.5rem;
						text-align: center;
						color: $font-white;
						font-size: 0.7rem;
						line-height: 1.4rem;
						word-break: keep-all;
						word-wrap: break-word;
					}
					.garantee-button {
						margin-top: 2rem;
						background-color: transparent;
						border: 1px solid $main-color1;
						color: $main-color1;
						font-size: 0.7rem;
						padding: 0.8rem 4.5rem; 
						margin-bottom: 2rem;
						cursor: pointer;
						@include transition(all 0.5s ease);
						&:hover {
							background-color: $main-color1;
							color: $main-color2;
						}
					}
				}
			}
		}
	}
}