$bg-color: #041419; 
$main-color1: #041419;
$main-color2: #9e987d;

$main-color1-900: rgba(4, 20, 25, 0.9);

$main-color2-150: rgba(158, 152, 125, 0.15);
$main-color2-500: rgba(158, 152, 125, 0.5);

$font-color: #9e987d;
$font-white: #ffffff;

$white: #ffffff;
$white-150: rgba(255, 255, 255, 0.15);